.all-trainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

@media only screen and (max-width: 426px) {
  .all-trainer {
    grid-template-columns: 1fr;
  }
}