.price {
  font-weight: 500;
  font-size: 28px;
  color: #ff0050;
}

.instructor .instructor-img {
  width: 60px !important;
  height: 60px !important;
  object-fit: cover;
  object-position: top;
  border-radius: 100px;
}

.rating-star {
  font-size: 20px;
}

.product-name,
.instructor-name {
  color: #ff0050;
}